# created by virtualenv automatically
Lib/
Scripts/
pyvenv.cfg
# añadido para no guardar los cambios de SQLite. 
*.sqlite3
# .pyc son ficheros compilados de python
web/web/__pycache__/*
web/web/__pycache__/
web/web/__pycache__/*.pyc
web/__pycache__/
web/listas/__pycache__/
web/listas/migrations/__pycache__/
web/web/__pycache__/settings.cpython-312.pyc
*.pyc