<!DOCTYPE html>
<html>
<head>
    <title>My HTML File</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <p>para el autor {{nombre_lista_actual}}</p>

    {% if coleccion_tareas %}
    <ul>
    {% for t in coleccion_tareas %}
        <li><a href="{{slug_nombre_autor}}/lista-tareas/{{slug_nombre_lista}}/tarea/{{t.descripcion}}/">{{ t.descripcion }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No hay tareas para este autor y esta lista de tareas</p>
    {% endif %}
</body>
</html>