<!DOCTYPE html>
<html>
<head>
    <title>Listas Lokas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'listas/estilos.css' %}">
    <script>
        function borrar_lista() {
            // Code to delete the list with {{lista.id}}
            alert("Se va a borrar la lista con id: {{lista.id}}")
            window.open("{% url 'listas:borrar_lista' lista.id %}");
            /*
            fetch("{% url 'listas:borrar_lista' lista.id %}", {
                method: 'GET',//No me deja poner un DELETE que es lo que debería ser
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                alert("La lista con id: " + data.id + " ha sido borrada");
                // Code to handle the response data or perform any other actions
            })
            .catch(error => {
                console.error('Error:', error);
                // Code to handle the error or display an error message
            });
            */
        }

        function agregarTarea() {
            // Code to add a new task
    }
    </script>
</head>
<body>
    <div class="clase_cabecera_azul">
        <h1>Listas de Tareas</h1>
    </div>
    <p><a href="{% url 'listas:home' %}">Listas de Tareas</a> > <b>{{lista.nombre}}</b></p>
    <div class="clase_cajita_sombreada">
        <div class="clase_cajita_sombreada_interna">
            <form action="{% url 'listas:lista' lista.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Editar Lista</h1></legend>                       
                    <label for="nombre_lista">Nombre</label>
                    <input type="text" name="nombre_lista" id="nombre_nueva_lista" value="{{lista.nombre}}">
                    <label for="autor_lista">Autor</label>
                    <input type="text" name="autor_lista" id="nombre_autor_nueva_lista" value="{{lista.author_id}}">            
                </fieldset>
                <div class="clase_botones_editar_lista">
                    <input type="submit" value="Guardar datos de lista">
                    <button type="button" onclick="javascript:borrar_lista()">borrar lista</button>        
                </div>
            </form>
        </div>
        {% if coleccion_tareas %}
        <ol>
        {% for t in coleccion_tareas %}
        <div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
                padding: 20px 20px;
                margin:2px 5px;
                display: flex; 
                align-items: center; 
                justify-content: space-between;">
        <li><a href="{{lista_actual_pk}}/tarea/{{t.pk}}">{{ t.descripcion }}</a></li>
        <button type="button" onclick="borrar_tarea()" style="margin-left: 20px;">Borrar tarea</button>
    </div>
    {% endfor %}
</ol>
    {% else %}
<p>No hay tareas para esta lista con pk: {{lista.id}}</p>
    {% endif %}        

<div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
            padding: 20px;
            align-items: center;
            display: flex;
            justify-content: center;">
    <button type="button" onclick="agregarTarea()">Añadir tarea</button>
</div>
    </div>
    <div style="height: 20px;"></div>


    
</body>
</html>