<!DOCTYPE html>
<html>
<head>
    <title>Listas Lokas</title>
</head>
<body>
    <script>
        function borrar_lista() {
            // Code to delete the list with {{lista.id}}
            alert("Se va a borrar la lista con id: {{lista.id}}")
            window.open("{% url 'listas:borrar_lista' lista.id %}");
            /*
            fetch("{% url 'listas:borrar_lista' lista.id %}", {
                method: 'GET',//No me deja poner un DELETE que es lo que debería ser
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                alert("La lista con id: " + data.id + " ha sido borrada");
                // Code to handle the response data or perform any other actions
            })
            .catch(error => {
                console.error('Error:', error);
                // Code to handle the error or display an error message
            });
            */
        }

        function agregarTarea() {
            // Code to add a new task
    }
    </script>
    <a href="{% url 'listas:home'}">Listas de Tareas</a><p>> <b>{{lista.nombre}}</b></p>
    <div style="box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4); 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                margin-top: 20px;">
        <div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
                    padding: 20px;
                    margin:2px;">
            <form action="{% url 'listas:lista' lista.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Editar Lista</h1></legend>                       
                    <label for="nombre_lista">Nombre</label>
                    <input type="text" name="nombre_lista" id="nombre_nueva_lista" value="{{lista.nombre}}">
                    <label for="autor_lista">Autor</label>
                    <input type="text" name="autor_lista" id="nombre_autor_nueva_lista" value="{{lista.author_id}}">            
                </fieldset>
                <div style="margin-top: 10px; 
                            text-align: center;">
                    <input type="submit" value="Guardar datos de lista">
                    <button type="button" onclick="javascript:borrar_lista()">borrar lista</button>        
                </div>
            </form>
        </div>
    </div>
    <div style="height: 20px;"> -- </div>

    <div style="box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4); 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                margin-top: 20px;">
        {% if coleccion_tareas %}
        <ul>
            {% for t in coleccion_tareas %}
            <li><a href="{{lista_actual_pk}}/tarea/{{t.pk}}">{{ t.descripcion }}</a></li>
            {% endfor %}
        </ul>
            {% else %}
        <p>No hay tareas para esta lista con pk: {{lista.id}}</p>
            {% endif %}
        <div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
                    padding: 20px;">
            <button type="button" onclick="agregarTarea()">Añadir tarea</button>
        </div>
    </div>
    
</body>
</html>