<!DOCTYPE html>
<html>
<head>
    <title>Listas Lokas</title>
</head>
<body>
    

    <form action="{% url 'listas:lista' lista.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Editar Lista</h1></legend>                       
            <input type="text" name="nombre_lista" id="nombre_nueva_lista" value="{{ lista.nombre }}">
            <label for="nombre_lista">Nombre</label><br>
            <input type="text" name="autor_lista" id="nombre_autor_nueva_lista" value="pepe">
            <label for="autor_lista">Autor</label><br>
        </fieldset>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>